{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="d-flex flex-column min-h-100 justify-content-center align-items-center">
				<h3 class="h3 mb-3 font-weight-normal text-secondary">Type your new password</h3>
				{{ form_start(passForm) }}
				{{ form_row(passForm.password) }}
				<button type="submit" class="btn btn-primary">Send</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>

{% endblock %}
