{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('scan') }}
{% endblock %}

{% block title %}scan product
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col-12">
				<div class="d-flex flex-column min-h-320 justify-content-center align-items-center">
					<div class="ms-2 text-secondary">
						<h3>Scan a product barcode</h3>
					</div>
					<div class="d-flex flex-column justify-content-center align-items-center">
						<div id="qr-reader"></div>
					</div>
					<div class="d-flex flex-column justify-content-center align-items-center">
						<div id="results"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
