{% extends 'base.html.twig' %}

{% block title %}MyStock - Mon espace
{% endblock %}

{% block body %}
	{% include 'main/_bar.html.twig' %}
	<div class="container">
		<h1>Hello
			{{ app.user.name }}</h1>
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/home/account/symfony_projects/mystock/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/home/account/symfony_projects/mystock/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
