{% extends 'base.html.twig' %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('scan') }}
	{% endblock %}

{% block title %}scan product
{% endblock %}

{% block body %}
	<div class="container">
		<div class="ms-2 text-secondary">
			<h3>Scan a product barcode</h3>
		</div>
		<div class="container mt-4 text-secondary">
			<div class="row">
				<div id="qr-reader" style="width: 900px"></div>
			</div>
		</div>
	</div>
	<script>
let thisUrl = '{{ absolute_url(path('app_product_scan')) }}' + '/new?q=';
	</script>
{% endblock %}
