@import "~bootstrap/scss/bootstrap";


table.table-hover {
    font-size: 80%;
}

nav {
    background-color: #212529;
}

td {
    width: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}