{{ form_start(form) }}

{{ form_widget(form) }}
<div class="d-flex justify-content-evenly">
	<button class="mt-2 btn btn-primary text-btn" title="Save this product">
		<i class="fa-regular fa-floppy-disk"></i>
	</button>
</div>
{{ form_end(form) }}
