{% extends 'base.html.twig' %}
{% block title %}Edit your credentials
{% endblock %}

{% block body%}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="ms-2 text-secondary">
		<h3>Change credentials</h2>
	</div>
	<div class="container mt-4 text-secondary">
		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
