{% extends 'base.html.twig' %}
{% block title %}Edit credentials
{% endblock %}

{% block body%}
	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ category }}" id="alertMsg">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="container">
		<div class="ms-2 text-secondary">
			<h3>Change credentials</h2>
		</div>
		<div class="container mt-4 text-secondary">
			<div class="row">
				<div class="col-3">
					{{ include('user/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
